html {
    font-size: clamp(4px, .56vw, 10px);
    @media only screen and (max-width: 744px) {
        font-size: 10px;
    }
}

:root {
    --main-font: 'Golos Text', sans-serif;
    --second-font: 'Istok Web', sans-serif;
    --color-black: #000000;
    --color-black-30: rgba(0, 0, 0, 0.3);
    --color-white: #FFFFFF;
    --color-white-80: rgba(255, 255, 255, 0.8);
    --color-primary: #006CFF;
    --color-primary-active: #1D7DFF;
    --color-primary-hover: #0064EC;
    --color-secondary: #F4F6FB;
    --color-secondary-active: #E7EEFF;
    --color-secondary-hover: #D8E3FF;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    color: var(--color-black);
    background: var(--color-white);
    min-height: var(--viewport-height);
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 125%;
    scrollbar-gutter: stable both-edges;
    &.modal-open {
        overflow: hidden;
        padding-right: var(--layout-shift);
    }
    @media only screen and (max-width: 744px) {
        &.menu-open {
            overflow: hidden;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
}

a {
    text-decoration: none;
    color: inherit;
    transition: .3s linear;
}

ul {
    padding: 0;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;

    li {
        display: block;
        list-style: none;
        padding: 0;
    }
}

img,
picture {
    max-width: 100%;
}

section {
    padding: 4.8rem 0;
    @media only screen and (max-width: 744px) {
        padding: 4rem 0;
    }
    @media only screen and (max-width: 640px) {
        padding: 2rem 0;
    }
}

* {
    box-sizing: border-box;
    &::before,
    &::after {
        box-sizing: border-box;
    }
}

.main {
    flex-grow: 1;
}

.container {
    width: 100%;
    max-width: 121.6rem;
    margin: 0 auto;
    @media only screen and (max-width: 744px) {
        padding: 0 1.5rem;
    }
}

.section-title {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 4rem;
    line-height: 115%;
    margin-bottom: 4rem;
    &__text {
        font-weight: 400;
        font-size: 2rem;
        line-height: 1.4;
        color: #9B9B9B;
        max-width: calc(50% - 3.2rem);
        padding-top: .8rem;
    }
    @media only screen and (max-width: 744px) {
        flex-direction: column;
        margin-bottom: 3rem;
        &__text {
            max-width: 100%;
            padding-top: 2rem;
        }
    }
    @media only screen and (max-width: 640px) {
        font-size: 2.4rem;
        line-height: 133%;
        margin-bottom: 2rem;
        &__text {
            font-size: 1.6rem;
            line-height: 138%;
            padding-top: 1rem;
        }
    }
}

.btn {
    display: block;
    width: 100%;
    padding: 1.9rem 2rem;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.25;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
    background-color: var(--color-primary);
    color: var(--color-white);
    transition: background-color .3s ease, color .3s ease;
    &:active {
        background-color: var(--color-primary-active);
    }
    &:hover {
        background-color: var(--color-primary-hover);
    }
    &_secondary {
        background-color: var(--color-secondary);
        color: var(--color-primary);
        &:active {
            background-color: var(--color-secondary-active);
        }
        &:hover {
            background-color: var(--color-secondary-hover);
        }
    }
    &_question {
        position: relative;
        padding: 1.9rem 4.5rem 1.9rem 2.1rem;
        text-align: left;
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 2.1rem;
            display: block;
            width: 2.4rem;
            height: 2.4rem;
            transform: translateY(-50%);
            background: url(../assets/svg/question.svg) no-repeat center;
            background-size: contain;
        }
    }
    &_bordered {
        background-color: var(--color-white);
        color: var(--color-primary);
        border: 1px solid var(--color-primary);
        &:hover {
            background-color: var(--color-secondary-hover);
        }
    }
}

.swiper-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
    cursor: pointer;
    border-radius: 50%;
    background: var(--color-white);
    opacity: .5;
    transition: .3s ease;
    &:hover {
        opacity: 1;
    }
    .icon-svg {
        display: block;
        width: 2.4rem;
        height: 2.4rem;
        fill: #3838384D;
    }
}