.catalog {
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 4rem 3.2rem;
        .catalog-card {
            &:nth-child(n + 7) {
                display: none;
            }
        }
        &.show-all {
            .catalog-card {
                &:nth-child(n + 7) {
                    display: flex;
                }
            }
        }
    }
    &__spinner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 20rem;
    }
    &__more-btn {
        width: 38.4rem;
        margin: 4rem auto 0;
    }
    @media only screen and (max-width: 744px) {
        &__grid {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            grid-gap: 0;
        }
        &__more-btn {
            margin: 1rem auto 0;
        }
    }
    @media only screen and (max-width: 640px) {
        &__more-btn {
            width: 100%;
        }
    }
}