.intro {
    position: relative;
    padding: 8rem 0;
    display: block;
    width: 100%;
    height: 70vh;
    max-height: 60rem;
    min-height: 51rem;
    color: var(--color-white);
    z-index: 1;
    .container {
        height: 100%;
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        z-index: -2;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
    }
    &__title {
        font-weight: 600;
        font-size: 4.8rem;
        line-height: 1.04;
        max-width: 62.4rem;
        margin-bottom: 2.4rem;
    }
    &__text {
        font-size: 1.8rem;
        line-height: 1.33;
    }
    &__form {
        display: flex;
        margin-top: 6rem;
        &-fields {
            display: flex;
            align-items: flex-start;
            flex-grow: 1;
            .form-group {
                margin-right: .6rem;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        &-actions {
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;
            width: 36.7rem;
            margin-left: 2.4rem;
            .form-submit {
                width: 100%;
                margin-right: .6rem;
            }
        }
    }
    @media only screen and (max-width: 744px) {
        padding: 13.6rem 0 8rem;
        height: auto;
        &__form {
            flex-direction: column;
            &-fields {
                justify-content: space-between;
                flex-wrap: wrap;
                .form-group {
                    max-width: calc(50% - .3rem);
                    margin-right: 0;
                    margin-bottom: .6rem;
                }
            }
            &-actions {
                justify-content: space-between;
                margin-left: 0;
                margin-top: 1rem;
                width: 100%;
                .form-submit {
                   width: calc(50% - .3rem);
                }
            }
            &-map {
                width: calc(50% - .3rem);
            }
        }
    }
    @media only screen and (max-width: 640px) {
        padding: 12.2rem 0 3rem;
        max-height: none;
        &__title {
            font-size: 3.2rem;
            margin-bottom: 1.2rem;
        }
        &__form {
            margin-top: 3rem;
            &-fields {
                .form-group {
                    max-width: 100%;
                }
            }
            &-actions {
                flex-direction: column;
                .form-submit {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: .6rem;
                }
            }
            &-map {
                width: 100%;
            }
        }
    }
}